# --- core ---
jmetalpy==1.7.0
numpy==2.2.6
h5py
scipy
pandas
matplotlib
humanize

# --- statistics
scikit-posthocs
statsmodels

# --- tuning
irace @ git+https://github.com/Saethox/iracepy-tiny@865d6ee439d41a31028df7d9e8e44fd4061f259a
rpy2

# --- plotting
seaborn
scikit-learn

# --- tests
pytest
